@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tasks to do</h1>
    <p>Be sure to check your tasks, don't forget to add the due date to keep the track of your tasks!</p>
</div>
